<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {background-color: powderblue;}
    </style>
</head>
<body>
<form method="POST" action="{{ url_for('view_sentences') }}">
    <p>Select Files from </p>
    <p>{{ listoffiles[0] }}{{ '/' }}{{ listoffiles[1] }}</p>
     <select name="file_selection">
        {% for lis in listoffiles[2:] %}
            {% for tvalue in lis %}
                {% if selected_tvalue == tvalue %}
                    <option value="{{ tvalue }}" selected='selected'>{{ tvalue }}</option>
                {% else %}
                     <option value="{{ tvalue }}" >{{ tvalue }}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </select>
    <button type="submit">Go</button>
</form>

</body>
</html>